<section class="d-flex flex-column align-items-center justify-content-around welcome text-white position-relative">
    <section class="logo d-flex flex-column align-items-center justify-content-center">
        <h1 class='fs-1 font-weight-bold'>SPENT</h1>
        <p class='display-6 font-weight-bold text-center fs-4'>Reach your financial goals<br> through tracking your expenses</p>
    </section>
    <section class=" container gap-3 buttons d-flex flex-column">
        <%= link_to 'LOG IN', new_user_session_path, class: 'btn btn-primary w-100' %>
        <%= link_to 'SIGN UP', new_user_registration_path, class: 'btn btn-green w-100' %>
    </section>
</section>