.new_user {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.welcome {
  height: 100vh;
  overflow: hidden;
  background-image: linear-gradient(#3186c6, #0af885);
}

.logo {
  margin-bottom: 5rem;
}

.top-corner {
  position: absolute;
  right: 0;
  top: 8px;
  padding: 5px;
}

.card-img-top {
  object-fit: cover;
}

.image-div {
  width: 20%;
}

.icon {
  border: none;
}

.link {
  text-decoration: none;
}

.buttons {
  position: absolute;
  bottom: 25%;
}

.btn-green {
  background-color: #0af885;
  color: #fff;
  border-radius: 0;
  border: none;
  padding: 8px;
  font-size: 1rem;
  margin-right: 10px;
}
