<div class='d-flex align-items-center justify-content-around bg-primary p-3'>
    <%= link_to categories_path do%>
      <i class="fa fa-arrow-left text-white fs-2"></i>
    <%end%>
    <h2 class='display-4 text-white mx-3'>Transactions</h2>
    <%=link_to edit_category_path(@category) do%>
      <i class="fa fa-pen-to-square text-white fs-2"></i>
    <%end%>
</div>
  <div class='d-flex align-items-center justify-content-around bg-primary p-3'>
      <p class='text-white fs-3'>Total amount: 0</p>
      <%= link_to new_category_payment_path(@category.id) do%>
        <i class="fa-solid fa-plus text-white fs-1"></i>
      <%end%>
  </div>
<%if @payments.present?%>
  <%@payments.each do |payment|%>
    <%= render partial:'shared/payment' , locals: {payment: payment} %>
  <%end%>
<%else%>
  <p><strong>No payments added yet</strong></p>
<%end%>
