<div class='d-flex align-items-center justify-content-around bg-primary p-3'>
    <%= link_to categories_path do%>
      <i class="fa fa-arrow-left text-white fs-2"></i>
    <%end%>
    <h2 class='display-4 text-white mx-3'>Transactions</h2>
    <%=link_to edit_category_path(@category) do%>
      <i class="fa fa-pen-to-square text-white fs-2"></i>
    <%end%>
</div>
<%= render partial:'shared/category' , locals: {category: @category} %>
